---
// Example of how to use dynamic styles
import MainLayout from "../layouts/MainLayout.astro";

const color = "blue";
const isRed = true;
---

<MainLayout title="My Blog" description="My Home Page">
  <p>Hi from <span>Styling Test</span></p>
  <p class:list={["big", { red: isRed }]}>Hi from Styling Test</p>
</MainLayout>

<style define:vars={{ color }}>
  p {
    span {
      color: var(--color);
    }
  }
  .big {
    font-size: 4rem;
  }
  .red {
    color: red;
  }
</style>
